# 12 MHz clock
set_io CLK        35

# LEDs and Button
set_io RESET_N    10
set_io LEDG_N     37

# SPI Flash
set_io FLASH_CS   16
set_io FLASH_CLK  15
set_io FLASH_MOSI 14
set_io FLASH_MISO 17

# PMOD 1A
set_io P1A1        4
set_io P1A2        2
set_io P1A3       47
set_io P1A4       45
set_io P1A7        3
set_io P1A8       48
set_io P1A9       46
set_io P1A10      44

# PMOD 1B
set_io P1B1       43
set_io P1B2       38
set_io P1B3       34
set_io P1B4       31
set_io P1B7       42
set_io P1B8       36

# PMOD 2
set_io -nowarn P2_1       27
set_io -nowarn P2_3       21
set_io -nowarn P2_7       26
set_io -nowarn P2_8       23
set_io -nowarn P2_9       20

# Clocks
set_frequency CLK     12
set_frequency clk_out 25.125
