# 12 MHz clock
set_io CLK        35

# LEDs
set_io LEDR_N     11
set_io LEDG_N     37

# SPI Flash
set_io FLASH_SCK  15
set_io FLASH_SSB  16
set_io FLASH_IO0  14
set_io FLASH_IO1  17

# Clocks
set_frequency CLK     12
set_frequency clk_out 25.125
