# 12 MHz clock
set_io CLK        35

# LEDs
set_io LEDR_N     11

# SPI Flash
set_io FLASH_SCK  15
set_io FLASH_SSB  16
set_io FLASH_IO0  14
set_io FLASH_IO1  17

# PMOD 1A
set_io P1A1        4
set_io P1A2        2
set_io P1A3       47
set_io P1A4       45
set_io P1A7        3
set_io P1A8       48
set_io P1A9       46
set_io P1A10      44

# PMOD 1B
set_io P1B1       43
set_io P1B2       38
set_io P1B3       34
set_io P1B4       31
set_io P1B7       42
set_io P1B8       36
set_io P1B9       32
set_io P1B10      28

# Buttons (PMOD 2)
set_io BTN1       20
set_io BTN3       18

# Clocks
set_frequency CLK     12
set_frequency pll_out 25.125
